

body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.5;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.main {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.side-panel-toggle {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  display: grid;
  place-items: center;

  color: #ffffff;
  background: #009578;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  cursor: pointer;
}

.side-panel-toggle:hover {
  background: #007960;
}

.sp-icon-close {
  display: none !important;
}

.side-panel {
  display: none;
  width: 200px;
  flex-shrink: 0;
  padding: 20px;
  color: #ffffff;
  background: #009578;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}


.side-panel-open .side-panel {
  display: initial;
}

.side-panel-open .sp-icon-open {
  display: none !important;
}

.side-panel-open .sp-icon-close {
  display: initial !important;
}




.side-panel2-toggle {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;

  color: #ffffff;
  background: #950077;
  border: none;
  border-radius: 0 5px 5px 0;
  outline: none;
  cursor: pointer;
}

.side-panel2-toggle:hover {
  background: #790077;
}

.sp2-icon-close {
  display: none !important;
}

.side-panel2 {
  display: none;
  width: 300px;
  flex-shrink: 0;
  flex-grow: 10;
  padding: 20px;
  color: #ffffff;
  background: #950095;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.35);
}


.side-panel2-open .side-panel2 {
  display: initial;
}

.side-panel2-open .sp2-icon-open {
  display: none !important;
}

.side-panel2-open .sp2-icon-close {
  display: initial !important;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: brown;
  color: white;
  margin-top: 0px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
